@model Grind.Models.Main
@{
    ViewBag.Title = "FightDetails";
}

<h2>Last Fight</h2>
<p>@Model.Fight.textMessage</p>
<p>@Model.Fight.PlayerDamage</p>
@for (var i = 0; i <= Model.Fight.Phases; i++)
{
    <table>
        <tr>
            <td>
                @Model.Fight.fightdet[i]
            </td>
        </tr>
    </table>
}
<p>@Model.CurrencyModel.Currency_Gold</p>
<p>@Model.LvlStats.level_gold_Max</p>

